<div class="container">
  <div class="row">
    <div class="col col-sm-2 thumbnail">
      <img src="{{ thumbnailUrl }}" class="img-fluid" alt="Book thumbnail" />
    </div>
    <div class="col summary">
      <h1>
        <strong>{{ title }}</strong>
      </h1>
      <blockquote class="blockquote">
        <p class="mb-0 text-muted">{{ summary }}</p>
        <footer class="blockquote-footer">
          <strong>{{ author }}</strong>
        </footer>
      </blockquote>
      <div class="footer">
        <span class="rating text-warning">
          <i class="fa fa-star" *ngFor="let r of [].constructor(rating)"></i>
        </span>
        <strong
          >Bình luận (<i class="text-muted">{{ commentNumber }}</i
          >)</strong
        >
        <strong>Nguồn: {{ sourceName }}</strong>
      </div>
    </div>
  </div>
</div>
