/* Fix some bootstrap styles not working properly */
.text-muted {
  color: #6c757d !important;
}

.text-warning {
  color: #ffc107 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}
/* end */

.container {
  min-height: 200px;
}

.thumbnail {
  padding-right: 0;
}

.summary {
  padding-left: 10px;
}

.summary blockquote.blockquote {
  margin-bottom: 0;
}

.summary .rating {
  font-size: 20px;
}

.summary .footer > * {
  margin-right: 10px;
}

.summary .block-with-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.2; /* fallback */
  max-height: 2.4;
}
