/* Fix some bootstrap styles not working properly */
.text-muted {
  color: #6c757d !important;
}

.text-warning {
  color: #ffc107 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}
/* end */
.app {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #E6EEF0;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 9px 0 #375c821c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
