<search-form (searchAction)="search($event)"> </search-form>

<div *ngIf="books.length > 0">
  <ng-container *ngFor="let book of books">
    <ng-container *ngIf="book.details && book.details.length > 0">
      <ng-container *ngIf="book.details[0].source === 'AAHCM'">
        <angular-book-summary-tile
          [id]="book.id"
          [title]="book.name"
          [thumbnailUrl]="book.details[0].coverUrl || 'assets/empty-thumbnail-placeholder.png'"
          [summary]="book.details[0].description"
          [author]="book.author"
          [rating]="5"
          [sourceName]="book.details[0].source"
          (clicked)=onClicked($event)
        ></angular-book-summary-tile>
      </ng-container>
      <ng-container *ngIf="book.details[0].source !== 'AAHCM'">
        <react-book-summary-tile
          [id]="book.id"
          [title]="book.name"
          [thumbnailUrl]="book.details[0].coverUrl || 'assets/empty-thumbnail-placeholder.png'"
          [summary]="book.details[0].description"
          [author]="book.author"
          [rating]="5"
          [sourceName]="book.details[0].source"
          (clicked)=onClicked($event)
        ></react-book-summary-tile>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
