<search-form (searchAction)="search($event)"> </search-form>

<div *ngIf="books.length > 0">
  <book-summary-tile
    *ngFor="let book of books"
    [title]="book.name"
    [thumbnailUrl]="thumbnailUrl"
    [summary]="details[0]?.description"
    [author]="book.author"
    [commentNumber]="details[0]?.comments.length"
    [rating]="rating"
    [sourceName]="details[0]?.source"
  ></book-summary-tile>
</div>

<!-- <strong>Angular component</strong>
<book-summary-tile
  [title]="title"
  [thumbnailUrl]="thumbnailUrl"
  [summary]="summary"
  [author]="author"
  [commentNumber]="commentNumber"
  [rating]="rating"
  [sourceName]="sourceName"
></book-summary-tile>

<strong>React component</strong>
<react-book-summary-tile
  [title]="title"
  [thumbnailUrl]="thumbnailUrl"
  [summary]="summary"
  [author]="author"
  [commentNumber]="commentNumber"
  [rating]="rating"
  [sourceName]="sourceName"
></react-book-summary-tile> -->
