<div class="row">
  <div class="col login-col">
    <mat-card class="login-container mx-auto">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>person</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form">
          <div>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required (change)="onChange()">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required (change)="onChange()">
            </mat-form-field>
          </div>
          <div class="text-danger">
            {{message}}
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
