.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
}

.search-bar-container {
  margin-top: 20px;
}

.book-list-item {
  cursor: pointer;
  margin: 10px auto;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;

  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: rgba(204, 219, 250, 0.2);
  }
}
