<app-navigation-bar></app-navigation-bar>
<div class="row">
  <div class="col search-bar-container">
    <search-form (searchAction)="search($event)"> </search-form>
  </div>
</div>
<div *ngIf="isLoading" class="loading">
  <img class="loading-image" src="../../../assets/images/loading.gif" />
  <div class="text-align-center">Sorry các bạn. API chậm quá. Chúng tôi đã cố gắng hết sức...</div>
  <div class="text-align-center">Sorry guys. API is too slow. We tried our best...</div>
</div>
<div class="row">
  <div class="col">
    <div *ngIf="books.length > 0">
      <ng-container *ngFor="let book of books">
        <ng-container *ngIf="book.details && book.details.length > 0">
          <ng-container *ngIf="book.details[0].source === 'AAHCM'">
            <div class="book-list-item">
              <!---->
            </div>
          </ng-container>
          <ng-container *ngIf="book.details[0].source !== 'AAHCM'">
            <div class="book-list-item">
              <!---->
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
