<div class="container">
  <div class="row">
    <div class="col col-sm-2 thumbnail">
      <img src="{{ thumbnailUrl }}" class="img-fluid" alt="Book thumbnail" />
    </div>
    <div class="col summary d-flex flex-column">
      <h1 class="mb-0">
        <strong>{{ title }}</strong>
      </h1>
      <blockquote class="blockquote">
        <footer class="blockquote-footer">
          <strong>{{ author }}</strong>
        </footer>
        <p class="mb-0 text-muted block-with-text">{{ summary }}</p>
      </blockquote>
      <div class="footer mt-auto">
        <span class="rating text-warning">
          <i class="fa fa-star" *ngFor="let r of fullRatingStars"></i>
          <i class="fa fa-star-half-o" *ngIf="rating % 1 > 0"></i>
          <i class="fa fa-star-o" *ngFor="let r of emptyRatingStars"></i>
        </span>
        <strong
          >Bình luận (<i class="text-muted">{{ commentNumber }}</i
          >)</strong
        >
        <strong>Nguồn: {{ sourceName }}</strong>
      </div>
    </div>
  </div>
</div>
